@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070012;
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(black, navy);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollable-content {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.canvas-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.canvas-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.techgradient {
  background: linear-gradient(45deg, #00203c, #000000);
}

.tesgradient {
  background: linear-gradient(180deg, #003050, #0c0020);
}

.btngradient {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  overflow: hidden;
  background: linear-gradient(90deg, #00203c, #000000);
  transition: 0.2s;
  border: 1px groove rgb(128, 128, 128);
  /* box-shadow:  0 0 10px #2196f3, 0 0 100px #2196f3, 0 0 100px #2196f3; */
}

.btngradient:hover,
.btngradient:active {
  color: #255784;
  background-color: #2196f3;
  color: white;
  transition-delay: 1s;
  border: none;
}
.btngradient span {
  position: absolute;
  display: block;
  animation-duration: 2s; /* Adjust the duration based on your preference */
  animation-iteration-count: infinite;
}

@keyframes slideIn {
  to {
    transform: translate(0, 0);
  }
}

@keyframes slideOut {
  to {
    transform: translate(0, 0);
  }
}

.btngradient span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation-name: slideIn;
}
.btngradient:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
  animation-name: slideIn;
}

.btngradient span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation-name: slideIn;
}
.btngradient:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.5s;
  animation-name: slideIn;
}

.btngradient span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation-name: slideIn;
}
.btngradient:hover span:nth-child(3) {
  right: 100%;
  transition-delay: 1.25s;
  transition: 1s;
  animation-name: slideIn;
}

.btngradient span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation-name: slideIn;
}
.btngradient:hover span:nth-child(4) {
  bottom: 100%;
  transition-delay: 1s;
  transition: 1s;
  animation-name: slideIn;
}

.home {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navlist:hover {
  text-decoration-skip-ink: none;
}

.content {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.profession {
  background: linear-gradient(
    180deg,
    rgb(0, 197, 252) 0%,
    rgb(255, 255, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profession1 {
  background: linear-gradient(180deg, #fff 0%, #00d1ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button {
  border: 2px solid rgb(0, 213, 255);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s;
}

.hamburger.open .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.navlinks-mobile {
  background: linear-gradient(black, rgb(0, 0, 61));
}

@media (max-width: 768px) {
  .navlinks,
  .navbtn {
    display: none;
  }
  .svglb {
    width: 390px;
    height: 390px;
  }
  .profession {
    font-size: 40px;
  }
  .profession1 {
    font-size: 40px;
  }
  .hamburger {
    display: block;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-professions {
  animation: fade-in 1s ease-out;
}

/* About Us */
.gauravimg {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.gauravimg::before {
  content: "";
  position: absolute;
  z-index: 500px;
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: repeating-conic-gradient(
    from -90deg,
    rgb(44, 0, 114) 0%,
    rgb(44, 0, 114) 5%,
    transparent 5%,
    transparent 30%,
    rgb(44, 0, 114) 50%
  );
  animation: spiral 8s linear infinite;
}

@keyframes spiral {
  100% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
}

.gauravimg::after {
  content: "";
  position: absolute;
  z-index: 500px;
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: repeating-conic-gradient(
    from 0deg,
    #2781ff 0%,
    #2781ff 5%,
    transparent 5%,
    transparent 30%,
    #2781ff 50%
  );
  animation: spiral 8s linear infinite;
}

.right-container,
.left-container {
  background: linear-gradient(90deg, #0051ff, #11002b);
  box-shadow: 1px 1px 10px cyan;
}

/* Project */
.project-card-wrapper {
  position: relative;
}

.project-card {
  perspective: 1000px;
  transition: transform 0.5s;
  border-radius: 10px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.project-card:hover .project-link {
  opacity: 1;
  visibility: visible;
}

.project-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-link a {
  display: block; /* Ensure the link takes up the full space */
}

.project-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  z-index: -1;
}

.project-card:hover .project-link a {
  transform: translateZ(50px); /* Adjust the scale factor as needed */
}

@media (max-width: 768px) {
  .project-card,
  .project-link {
    background: #00000061;
    opacity: 1;
    visibility: visible;
  }
}

/* experience */
.gradienttxt {
  background: linear-gradient(111deg, #ffffff 7.81%, #006eff 77.43%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tespic{
  border: 4px solid rgb(100, 185, 255);
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none; /* Remove the default shadow background */
  opacity: 0; /* Hide the shadows by setting their opacity to 0 */
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}

.tesgradient2{
  background: linear-gradient(pink,white);
}

/* Timeline */


/* .timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
} */

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}
